.logo img{
    height: 60px;
    width: 250px;
    padding-top: 5px;
}

nav{
    background: #333;
    line-height: 70px;
}

ul li{
    display: inline;
    margin: 20px;
}
li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}
li a:hover{
    background: coral;
    padding: 10px;
    border-radius: 10px;
}